@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}