<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MiniAngular</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- ANGULAR -->
    <script src="./js/libs/angular.min.js"></script>
    <script src="./js/libs/angular-ui-router.min.js"></script>
    <script src="./js/libs/angular-touch.min.js"></script>
    <script src="./js/libs/angular-animate.min.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script src="./app.js"></script>
    <script src="./js/controllers/NameTemplateController.js"></script>
  </head>

  <body data-ng-app="templateApp">
    <div data-ng-controller="NameTemplateController" class="wrapper">
      <div id="form-wrapper" data-ng-hide="submitted">
        <p>Form</p>
        <form>
            <p>First Name</p>
            <input type="text" data-ng-model="first"></input><br>
            <p>Last Name</p>
            <input type="text" data-ng-model="last"></input><br>
            <p>Email</p>
            <input type="email" data-ng-model="email"></input><br>
            <p>Phone Number</p>
            <input type="phone" data-ng-model="number"></input><br>
        </form>
      </div>
      <br>
      <p>Template</p>
      <p>{{ first }} {{ last }}</p>
      <p>{{ email }}</p>
      <p>{{ number }}</p>
      <button data-ng-click="submit()" id="btn" data-ng-hide="submitted">
        Click me!
      </button>
    </div>
  </body>

</html>