@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/fonts/iAWriterDuospace-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/fonts/iAWriterDuospace-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
 }
@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/fonts/iAWriterDuospace-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/fonts/iAWriterDuospace-BoldItalic.otf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@lost gutter 30px;

body {
    font-family: 'iAWriterDuospace';
    color: #222222;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.padding-bottom-std {
    padding-bottom: 3.5%;
}

.padding-bottom-half {
    padding-bottom: 1.75%;
}

.main-container-section {
    lost-utility: clearfix;
    /* lost-align: left; */
    height: 90%;
    width: 80%;
    lost-center: 980px;
    padding: 5% 10% 5% 10%;
}

.page-teaser-image {
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.half-col {
    lost-column: 1/2;
}

.vgrid-item {
    lost-row: 1/3;
}

.page-headline {
    font-weight: bold;
    font-size: 2em;
}

.page-subheadline {
    color: #aaaaaa;
    font-size: 0.75em;
}

.page-mission {
    font-style: italic;
    font-size: 1em;
}

.headline {
    font-weight: bold;
    font-size: 1.5em;
}

.projects-section {
    float: left;
}

.project-tile {
    lost-waffle: 1/3;
}

.project-photo {
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.project-title {
    font-size: 0.85em;
    font-weight: bold;
}

.project-text {
    font-size: 0.75em;
}

.people-tile {
    lost-column: 1/4 4 20px;
}

.people-section {
    display: block;
}

.people-photo {
    max-width: 200px;
    max-height: 200px;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.people-title {
    font-size: 1em;
    font-weight: bold;
}

.people-text {
    font-size: 0.75em;
}

.people-section {
    display: block;
}

@media screen and (max-width: 400px) {
    .project-tile {
        lost-waffle: 1;
    }

    .people-tile {
        lost-waffle: 1/2;
    }
}
