@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
 }
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

body {
    font-family: 'Inter', sans-serif;
    color: #222222;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 350px;
    margin-bottom: 2em;
}


.bold {
    font-weight: bold;
}

.black {
    color: #222222;
}

.gray {
    color: #cccccc;
}

.highlight {
    background-color: #fff500;
}

.main-container {
    position: relative;
}

.left-pane-wrapper {
    position: absolute;
    left: 0px;
    top: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
    z-index: -1; /* the wrapper extends over a link because rotation */
}

.left-pane {
    transform: rotate(-90deg);
    transform-origin: 100% 0;
    position: relative;
    left: -100%;
    text-align: right;
}

.name-title {
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 0.0625em;
    margin-bottom: 0.25em;
}

.blurb-title {
    font-weight: lighter;
    font-style: italic;
    font-size: 0.85em;
}

.middle-right-pane-wrapper {
    margin-left: 100px;
}

.middle-pane {
    display: inline-block;
}

.project-list {
    list-style: none;
    font-size: 24px;
    font-weight: bold;
}

.project-list-item {
    margin-bottom: 1em;
}

.project-list-item.italic {
    font-weight: lighter;
    font-style: italic;
}

.right-pane {
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: 2em;
    overflow: scroll;
    width: 400px;
}

.hero-list {
    margin-top: 2em;
    margin-bottom: 4em;
    list-style: none;
    font-size: 12px;
    padding-left: inherit;
    margin-left: 0px;
    font-style: italic;
}

.hero-list-item {
    margin-bottom: 0.75em
}

.article-text {
    font-size: 12px;
    line-height: 2em;
}

.paragraph {
    margin-bottom: 1em;
}

.header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1em;
}

