@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/fonts/iAWriterDuospace-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/fonts/iAWriterDuospace-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
 }
@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/fonts/iAWriterDuospace-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/fonts/iAWriterDuospace-BoldItalic.otf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@lost gutter 30px;

body {
    font-family: 'iAWriterDuospace';
    color: #222222;
    background-color: #ffb900;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.padding-top-std {
    padding-top: 3.5%;
}

.padding-top-half {
    padding-top: 1.75%;
}

.padding-bottom-std {
    padding-bottom: 3.5%;
}

.padding-bottom-half {
    padding-bottom: 1.75%;
}

/* Main */

.main-container-section {
    lost-utility: clearfix;
    /* lost-align: left; */
    height: 90%;
    width: 90%;
    lost-center: 1080px;
    padding: 5% 10% 5% 10%;
}

.content-row {
    height: 500px;
}

.main-content-block {
    background-color: #f4065c;
    height: 100%;
    lost-column: 3/5;
    color: #fafafa;
    font-size: 14px;
}

.main-content-block-container {
    height: 100%;
    width: 100%;
    padding: 10%;
}

.main-image-block {
    background-color: #fafafa;
    height: 100%;
    lost-column: 2/5;
}

.main-content-navi {
    lost-column: 1/3;
}

.navi-title {
    font-weight: bold;
}

.main-content-content {
    lost-column: 2/3;
}

.name {
    font-weight: bold;
    font-size: 24px;
}

@media screen and (max-width: 400px) {
    /* To do */
}
